<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<module name="Header">
    <property name="headerFile" value="./config/java.header" />
		<property name="fileExtensions" value="java" />
  </module>
  <module name="FileLength" />
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>
  <module name="TreeWalker">
    <module name="NeedBraces">
      <property name="tokens" value="LITERAL_IF, LITERAL_ELSE"/>
    </module>
    <module name="IllegalImport" />
    <module name="AvoidStarImport" />
    <module name="BooleanExpressionComplexity" />
    <module name="CyclomaticComplexity" />
    <module name="MethodLength" />
    <module name="EmptyCatchBlock">
      <property name="exceptionVariableName" value="expected|ignore"/>
    </module>
  </module>
</module>
